<!DOCTYPE html>
<html lang="en">
<head>
    <title>MasterMind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link href="/static/style.css" rel="stylesheet"-->
</head>
<body>

<form action="/mastermind/new" method="GET">
    <button>New game</button>
</form>

<h2>Guess the secret code in under 12 steps</h2>
<p>
    When submitted, each guess will receive a score.<br>
    A black scoring peg means you guessed a heart with the right colour in the right space.<br>
    A white scoring peg means you guessed a heart with the right colour, but in the wrong place.<br>
    The order of the scoring pegs doesn't mean anything.
</p>

<hr>

<% if @@history and @@history.size == 12 %>
    <b>You ran out of guesses. The answer was <%= @@secret.map { |v| @@Colours[v] }.join %></b>
<% elsif @@history and @@history.size > 0 and @@history.last[:score] == [:black] * 4 %>
    <b>You won the game!</b>
<% else %>
    <h3><i>Secret code: ? ? ? ?</i></h3>

    <p>Your guess:</p>

    <form action="/mastermind/" method="POST">
        <% for i in (1..4) %>
            <select name="col<%= i %>">
                <option value=""></option>
                <% for key, icon in @@Colours %>
                <option value="<%= key %>"><%= icon %></option>
                <% end %>
            </select>
        <% end %>
        <button>Submit</button>
    </form>
<% end %>

<% @@history.size.downto(1) do |h| %>
    <p>
        <i><%= h-1 %></i>
        <span><%= @@history[h-1][:guess].map { |v| @@Colours[v] }.join %></span>
        <span>Score: <%= @@history[h-1][:score].map{ |v| v == :black ? '▪️' : '▫️' }.join %></span>
    </p>
<% end %>

</body>
</html>
