<html>
<head>
    <title>Number Guesser<% if data[:guess] %>: guessed <%= data[:guess] %><% end %></title>
</head>
<body>
    <h3>Guess the number (1-100) I'm thinking of!</h3>
    <% if data[:cheat] %>
        <p>(It is <%= data[:number] %>)</p>
    <% end%>

    <% if data[:guesses_left] > 0 %>
        <form action="/guesser/" method="POST">
            <p>Try to guess what the number is!</p>
            <p>
            <input type='text' name='guess' />
            <% if data[:cheat] %>
                <input type='hidden' name='cheat' value="true" />
            <% end%>
            <input type='submit' value='Guess!' />
        </form>
    <% end %>

    <% if data[:analysis] %>
        <p>Guessed <%= data[:guess] %>: <span style="color: <%= data[:color] %>"><%= data[:analysis] %></span></p>
        <% if data[:analysis] != "CORRECT!" %>
            <p>You have <%= data[:guesses_left]%> guesses left</p>
        <% end %>
    <% end %>

    <form action="/guesser/new" method="GET">
        <button type="submit">Try a new number</button>
    </form>
</body>
</html>